@using Terres.Web.Models.OLD
@{
    Layout = null;

    string id = string.Empty;

    if (ViewContext?.HttpContext?.Request?.Query.ContainsKey("id") == true)
    {
        id = ViewContext.HttpContext.Request.Query["id"].ToString();
    }
    else
    {
        id = "No ID provided";
    }
}
@model LoteDetalleViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="/css/menu-vendedores.css" />
    <link rel="stylesheet" type="text/css" href="/css/home-v-1.css" />
    <link rel="stylesheet" type="text/css" href="/css/formulario-001-variante-direccion-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/formulario-001-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/formulario-002-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/formulario-003-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/formulario-004-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/pre-loading-1u472-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/pre-loading-2u472-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/dashboard-onboarding.css" />
    <link rel="stylesheet" type="text/css" href="/css/actividad-2u472-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/onboarding-dashboard-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/ingresar-1-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/tu-terreno-manana-pop-up-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/about-1-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/crear-cuenta-1u472-1-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/editar-perfil-1u472-all-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/css/info-u47-tu-terreno-hoy-all-breakpoints.css" />



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <style>
        .screen {
            display: block;
        }

            .screen.active {
                display: block;
            }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/css/globals.css" />
</head>
<body style="margin: 0; background: #fef8ee">
    <input type="hidden" id="anPageName" name="page" value="info-u47-tu-terreno-hoy-all-breakpoints" />
    <div class="container-center-horizontal">
        <div class="info-u47-tu-terreno-hoy-all-breakpoints screen">
            <div class="top-app-bar">
                <img class="frame" src="/img/frame-27.svg" alt="Frame" />
                <div class="leading-icon">
                    <div class="container">
                        <div class="state-layer-1 state-layer-3"><img class="icon" src="/img/icon-51.svg" alt="Icon" /></div>
                    </div>
                </div>
            </div>
            <div class="overlap-group5">
                <div class="overlap-group6">
                    <h1 class="title valign-text-middle ibmplexserif-medium-peanut-43px">@(Model.Lote.Direccion ?? "Bustamante 2520")</h1>
                    <div class="tabs">
                        <div class="property-1-default"><img class="tabs-1" src="/img/tabs-8.svg" alt="Tabs" /></div>
                    </div>
                    <div class="frame-1171275423">
                        <div class="frame-68">
                            <p class="tiene-3-ofertas-en-curso valign-text-middle ibmplexsans-normal-peanut-16px">
                                <span>
                                    <span class="span ibmplexsans-normal-peanut-16px">Tiene </span><span class="span ibmplexsans-medium-peanut-16px">3 ofertas</span><span class="span ibmplexsans-normal-peanut-16px">&nbsp;</span><span class="span ibmplexsans-medium-peanut-16px">en curso</span>
                                </span>
                            </p>
                        </div>
                        <div class="tag"></div>
                    </div>
                </div>
                <div class="frame-1171275422">
                    <img class="frame-63" src="/img/frame-63-4.svg" alt="Frame 63" />
                    <div class="frame-64"><img class="download" src="/img/download-4.svg" alt="Download" /></div>
                </div>
            </div>
            
            <div class="group-24">
                <div class="overlap-group1">
                    <div class="navigation-bar">
                        <article class="segment" onclick="redirect('/Account/Dashboard')">
                            <div class="icon-container-1">
                                <div class="state-layer-2 state-layer-3"></div>
                            </div>
                            <div class="label-text ibmplexsans-medium-brown-pod-14px">Home</div>
                        </article>
                        <article class="segment" onclick="redirect('/Account/Actividad')">
                            <div class="icon-container">
                                <div class="state-layer"></div>
                            </div>
                            <div class="label-text ibmplexsans-medium-brown-pod-14px">Actividad</div>
                        </article>
                        <article class="segment" onclick="redirect('/Account/Perfil')">
                            <div class="icon-container">
                                <div class="state-layer"></div>
                            </div>
                            <div class="label-text ibmplexsans-medium-brown-pod-14px">Perfil</div>
                        </article>
                    </div>
                    <img class="icon-home" src="/img/icon-home-1.svg" alt="icon-home" />
                    <img class="icon-user" src="/img/icon-user-1.svg" alt="icon-user" />
                    <div class="overlap-group-1">
                        <img class="icon-message-circle" src="/img/icon-message-circle-26.svg" alt="icon-message-circle" />
                        <div class="badge">
                            <div class="badge-label valign-text-middle ibmplexsans-semi-bold-white-12px">3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-center-horizontal">
        <div class="dashboard-datos screen">
            <div class="overlap-group4 ibmplexsans-medium-peanut-18px">
                <img class="base" src="/img/base-3.svg" alt="Base" />
                <header class="header">
                    <h1 class="x4xl">Tu terreno hoy</h1>
                    <div class="paragraph ibmplexsans-medium-peanut-20px">@(Model.Lote.Direccion ?? "Bustamante 2520")</div>
                </header>
                <div class="tabs-2">
                    <div class="tabs-3">
                        <div class="tab active"><a href="@Url.Action("Detalle","Lote", new { id = id })">Información</a></div>
                        <div class="tab"><a href="@Url.Action("Potencial","Lote", new { id = id })">Potencial</a></div>
                        <div class="tab"><a href="@Url.Action("Precio","Lote", new { id = id })">Precio</a></div>
                    </div>
                </div>

                <div class="group-1000002753">
                    <div class="group-1000002752">
                        <img class="solid-communication-phone"
                             src="/img/solid-communication-phone-7.svg"
                             alt="Solid/Communication/Phone" />
                    </div>
                    <p class="necesitas-ayuda-esc ibmplexsans-medium-white-18px">
                        <span class="span0 ibmplexsans-medium-brown-pod-18px">Necesitas ayuda? <br /></span><span class="span-1 ibmplexsans-normal-brown-pod-16px">Escribinos al </span><span class="span-1 ibmplexsans-normal-tango-16px">+54 9 11 5039609</span>
                    </p>
                </div>
                <div class="nar">
                    <div class="field">
                        <img class="icons" src="/img/icons-1.svg" alt="Icons" />
                        <div class="search ibmplexsans-normal-tango-16px">Buscador</div>
                    </div>
                    <img class="icons-1" src="/img/icons-20.svg" alt="Icons" />
                    <img class="fills-26515179-04ac"
                         src="/img/fills-26515179-04ac-8067-8004-2d59bf943290-9.svg"
                         alt="fills-26515179-04ac-8067-8004-2d59bf943290" />
                    <div class="frame-20">
                        <img class="avatar" src="/img/avatar-10.svg" alt="Avatar" />
                        <div class="frame-19">
                            <div class="frame-18">
                                <div class="tag-1"><div class="pro ibmplexsans-normal-white-12px">Verificado</div></div>
                            </div>
                            <div class="toms-o ibmplexsans-medium-brown-pod-24px">Tomás. O</div>
                        </div>
                    </div>
                </div>
                <div class="overlap-group3">
                    <div class="frame-1171275428">
                        <img class="frame-1" src="/img/frame-30.svg" alt="Frame" />
                        <div class="flex-row" onclick="redirect('/Account/Perfil')">
                            <img class="icon-user-1" src="/img/icon-user.svg" alt="icon-user" />
                            <div class="group-1000002714"><div class="text ibmplexsans-medium-brown-pod-18px">Perfil</div></div>
                        </div>
                        <div class="group-1000002718" onclick="redirect('/Account/Actividad')">
                            <div class="mdimessage-processing-outline">
                                <div class="overlap-group-3">
                                    <img class="icon-message-circle-1" src="/img/icon-message-circle.svg" alt="icon-message-circle" />
                                    <div class="badge-1">
                                        <div class="badge-label-1 valign-text-middle ibmplexsans-semi-bold-black-12px">3</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-1 ibmplexsans-medium-brown-pod-18px">Actividad</div>
                        </div>
                        <div class="group-1000002720">
                            <div class="sign-out-icon"><img class="union" src="/img/union-9.svg" alt="Union" /></div>
                            <div class="salir ibmplexsans-medium-brown-pod-18px">Salir</div>
                        </div>
                    </div>
                    <div class="button" onclick="redirect('/Account/Dashboard')">
                        <img class="icon-home-1" src="/img/icon-home-28.svg" alt="icon-home" />
                        <div class="text-2 ibmplexsans-semi-bold-seashell-peach-16px">Home</div>
                    </div>
                    <div class="button x01">
                        <a href="@Url.Action("Dashboard","Account")">
                            <img class="icon-home" src="/img/icon-home.svg" alt="icon-home">
                            <div class="text" style="color: white;">
                                Home
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/js/redirect.js"></script>
</body>
</html>
