@using System.Security.Claims;
@using Terres.Core.OLD.Entities.ViewModel.Campus
@using Terres.Web.Models.OLD

@{
	Layout = null;
}
@model PerfilViewModel


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
	<meta name="og:type" content="website" />
	<meta name="twitter:card" content="photo" />
	<link rel="stylesheet" type="text/css" href="/css/menu-vendedores.css" />
	<link rel="stylesheet" type="text/css" href="/css/home-v-1.css" />
	<link rel="stylesheet" type="text/css" href="/css/formulario-001-variante-direccion-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/formulario-001-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/formulario-002-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/formulario-003-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/formulario-004-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/pre-loading-1u472-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/pre-loading-2u472-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/dashboard-onboarding.css" />
	<link rel="stylesheet" type="text/css" href="/css/actividad-2u472-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/onboarding-dashboard-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/ingresar-1-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/tu-terreno-manana-pop-up-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/about-1-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/crear-cuenta-1u472-1-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/editar-perfil-1u472-all-breakpoints.css" />



	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

	<style>
		.screen {
			display: block;
		}

			.screen.active {
				display: block;
			}
	</style>
	<link rel="stylesheet" type="text/css" href="/css/styleguide.css" />
	<link rel="stylesheet" type="text/css" href="/css/globals.css" />
</head>
<body style="margin: 0; background: #fef8ee">
	<input type="hidden" id="anPageName" name="page" value="home-v-1" />

	<div id="view-perfil10" class="view">
		<div class="container-center-horizontal">
			<div class="editar-perfil-1u472-all-breakpoints screen">
				<div class="top-app-bar">
					<img class="frame" src="/img/frame-67.svg" alt="Frame" />
					<div class="leading-icon">
						<div class="container">
							<div class="state-layer-1 state-layer-3"><img class="icon" src="/img/icon-51.svg" alt="Icon" /></div>
						</div>
					</div>
				</div>
				<div class="group-36730 group">
					<div class="overlap-group">
						<div class="to">TO</div>
						<div class="icon-1"><img class="edit" src="/img/edit.svg" alt="edit" /></div>
					</div>
				</div>
				<form method="post" asp-action="Perfil">
					<div class="form">
						<div class="form-item">
							<div class="master">
								<div class="textfield-4">
									<div class="content">
										<img class="user_outline" src="/img/user-outline.svg" alt="user_outline" />
										<div class="content-7">
											<div class="filled ibmplexsans-medium-peanut-14px">@(Model.User?.Name ?? "Tomás Osses")</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-item">
							<div class="master">
								<div class="textfield">
									<div class="content">
										<img class="leading" src="/img/leading.svg" alt="leading" />
										<div class="content-7">
											@*<div class="filled-4 ibmplexsans-medium-peanut-14px">@(Model.User?.FechaNacimiento?.ToString() ?? "01/01/1988")</div>*@
											</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-item">
							<div class="master">
								<div class="textfield">
									<div class="content">
										<img class="email" src="/img/email.svg" alt="email" />
										<div class="content-7">
											<div class="filled-4 ibmplexsans-medium-peanut-14px">@(Model.User?.Email ?? "tomasosses@gmail.com")</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="phone-number">
							<div class="select">
								<div class="master">
									<div class="textfield-2 textfield-4">
										<div class="content-7"><div class="input-active ibmplexsans-medium-peanut-14px">+54</div></div>
										<img class="trailing" src="/img/trailing.svg" alt="trailing" />
									</div>
								</div>
							</div>
							<div class="rounded-large">
								<div class="master">
									<div class="textfield">
										<div class="content">
											<div class="content-7">
												<div class="filled-4 ibmplexsans-medium-peanut-14px">@(Model.User?.PhoneNumber ?? "(11) 555-0121")</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-item">
							<div class="master">
								<div class="label-active label">Rol</div>
								<div class="textfield-3 textfield-4">
									<div class="content-7">
										<div class="input-active-1 ibmplexsans-medium-peanut-14px">Dueño directo</div>
									</div>
									<img class="chevron_right" src="/img/chevron-right.svg" alt="chevron_right" />
								</div>
							</div>
						</div>
					</div>
					<div class="button">
						@if(Model.User != null)
						{
							<div class="submitButton button-1 valign-text-middle ibmplexsans-semi-bold-seashell-peach-16px pointer">Guardar</div>
						}
						else
						{
							//SubmitButton para guardar
							<div class="button-1 valign-text-middle ibmplexsans-semi-bold-seashell-peach-16px">Guardar</div>
						}
					</div>
				</form>
				<div class="group-24 group">
					<div class="overlap-group1">
						<div class="navigation-bar">
							<article class="segment">
								<div class="icon-container">
									<div class="state-layer"></div>
								</div>
								<a href="@Url.Action("Dashboard", "Account")">
									<div class="label-text label ibmplexsans-medium-brown-pod-14px">Home</div>
								</a>

							</article>
							<article class="segment">
								<div class="icon-container">
									<div class="state-layer"></div>
								</div>
								<a href="@Url.Action("Actividad", "Account")">
									<div class="label-text label ibmplexsans-medium-brown-pod-14px">Actividad</div>
								</a>

							</article>
							<article class="segment">
								<div class="icon-container-1">
									<div class="state-layer-2 state-layer-3"></div>
								</div>
								<div class="label-text label ibmplexsans-medium-brown-pod-14px">Perfil</div>
							</article>
						</div>
						<img class="icon-home" src="/img/icon-home-3.svg" alt="icon-home" />
						<img class="icon-user" src="/img/icon-user-1.svg" alt="icon-user" />
						<div class="overlap-group-1">
							<img class="icon-message-circle" src="/img/icon-message-circle-4.svg" alt="icon-message-circle" />
							<div class="badge">
								<div class="badge-label valign-text-middle ibmplexsans-semi-bold-white-12px">3</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-center-horizontal">
			<div class="dashboard-perfil screen">
				<div class="overlap-group2">
					<img class="base" src="/img/base-3.svg" alt="Base" />
					<div class="background"></div>
					<div class="x01">
						<a href="@Url.Action("Dashboard", "Account")">
							<img class="icon-home" src="/img/icon-home.svg" alt="icon-home" />
							<div class="text">Home</div>
						</a>
					</div><a href="@Url.Action("Actividad", "Account")">
						<div class="group-1000002718">
							<div class="mdimessage-processing-outline">
								<div class="overlap-group-2">
									<img class="icon-message-circle-1" src="/img/icon-message-circle-23.svg" alt="icon-message-circle" />
									<div class="badge-1">
										<div class="badge-label-1 valign-text-middle ibmplexsans-semi-bold-black-12px">3</div>
									</div>
								</div>
							</div>
							<div onclick="redirect('/Account/Actividad')" class="text-1 text-3 ibmplexsans-medium-brown-pod-18px">Actividad</div>
						</div>
					</a>
					<div class="group-1000002720">
						<div class="sign-out-icon"><img class="union" src="/img/union-8.svg" alt="Union" /></div>
						<div class="salir ibmplexsans-medium-brown-pod-18px">Salir</div>
					</div>
					<img class="frame-1" src="/img/frame-68.svg" alt="Frame" />
					<div class="frame-1171275461">
						<img class="icon-2" src="/img/icon-user-23.svg" alt="icon-user" />
						<div class="group-1000002714"><div class="text-2 text-3">Perfil</div></div>
					</div>
					<header class="header">
						<h1 class="x4xl ibmplexsans-medium-brown-pod-38px">Perfil</h1>
						<div class="paragraph ibmplexsans-normal-peanut-12px">Dashboard / Home</div>
					</header>
					<div class="nar">
						<div class="field">
							<img class="icon-2" src="/img/icons-13.svg" alt="Icons" />
							<div class="search ibmplexsans-normal-tango-16px">Buscador</div>
						</div>
						<img class="icons" src="/img/icons-14.svg" alt="Icons" />
						<img class="fills-26515179-04ac"
							 src="/img/fills-26515179-04ac-8067-8004-2d59bf943290-5.svg"
							 alt="fills-26515179-04ac-8067-8004-2d59bf943290" />
						<div class="frame-20">
							<img class="avatar" src="/img/avatar-5.svg" alt="Avatar" />
							<div class="frame-19">
								<div class="frame-18">
									<div class="tag"><div class="pro ibmplexsans-normal-white-12px">Verificado</div></div>
								</div>
								<div class="toms-o ibmplexsans-medium-brown-pod-24px">@(Model.User?.Email ?? "Tomás. O")</div>
							</div>
						</div>
					</div>
					<form method="post" asp-action="Perfil">
					<div class="button-3">
						@if(Model.User != null)
						{
							//SubmitButton para guardar
							<div class="SubmitButton button valign-text-middle ibmplexsans-semi-bold-seashell-peach-16px pointer">Guardar</div>
						}
						else
						{
								<div class="button valign-text-middle ibmplexsans-semi-bold-seashell-peach-16px">Guardar</div>
						}
					</div>
					<div class="button-4">
						<div class="button valign-text-middle ibmplexsans-semi-bold-hot-cinnamon-16px">Volver</div>
					</div>
					<div class="form-1">
						<div class="form-item-1">
							<div class="master-1">
								<div class="textfield">
									<div class="content-7 content">
										<img class="user_outline-1" src="/img/user-outline-3.svg" alt="user_outline" />
										<div class="content-8 content">
												<div class="filled ibmplexsans-medium-peanut-14px">@(Model.User?.Name ?? "Tomás Osses")</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-item-1">
							<div class="master-1">
								<div class="textfield-4 textfield">
									<div class="content-7 content">
										<img class="leading-1" src="/img/leading-3.svg" alt="leading" />
										<div class="content-9 content">
												@*<div class="filled ibmplexsans-medium-peanut-14px">@(Model.User?.FechaNacimiento?.ToString() ?? "01/01/1988")</div>*@
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-item-1">
							<div class="master-1">
								<div class="textfield-4 textfield">
									<div class="content-7 content">
										<img class="email-1" src="/img/email-3.svg" alt="email" />
										<div class="content-10 content">
											<div class="filled ibmplexsans-medium-peanut-14px">@(Model.User?.Email ?? "tomasosses@gmail.com")</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="phone-number-1">
							<div class="select-1">
								<div class="master-1">
									<div class="textfield-6 textfield">
										<div class="content-11 content">
											<div class="input-active ibmplexsans-medium-peanut-14px">+54</div>
										</div>
										<img class="trailing-1" src="/img/trailing.svg" alt="trailing" />
									</div>
								</div>
							</div>
							<div class="rounded-large-1">
								<div class="master-1">
									<div class="textfield-4 textfield">
										<div class="content-7 content">
											<div class="content-12 content">
												<div class="filled ibmplexsans-medium-peanut-14px">@(Model.User?.PhoneNumber ?? "(11) 555-0121")</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-item-1">
							<div class="master-1">
								<div class="label-active-1">Rol</div>
								<div class="textfield-7 textfield">
									<div class="content-13 content">
										<div class="input-active ibmplexsans-medium-peanut-14px">Dueño directo</div>
									</div>
									<img class="chevron_right-1" src="/img/chevron-right-3.svg" alt="chevron_right" />
								</div>
							</div>
						</div>
					</div>

					</form>
					<div class="overlap-group1-1">
						<div class="to-1">TO</div>
						<div class="icon-3"><img class="edit-1" src="/img/edit.svg" alt="edit" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="/js/redirect.js"></script>

	<script>
		document.querySelectorAll('.submitButton').forEach(button => {
			button.addEventListener('click', function (event) {
				event.preventDefault();
				this.closest('form').submit();
			});
		});
	</script>

</body>
</html>